DATABASE_URL="postgres://postgres:@localhost:5432/ilmorax"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ADMIN_EMAILS="owner@example.com"
APP_URL="http://localhost:3000"
UPLOAD_DIR="./storage/uploads"
